<!DOCTYPE html>
<html>
<head>


    <script src="scripts/onsenui.min.js"></script>
    <link href="css/video-js.css" rel="stylesheet" />
    <link href="css/onsenui.css" rel="stylesheet" />
    <script src="scripts/index.js"></script>
    <link href="css/onsen-css-components.css" rel="stylesheet" />
    <link href="css/onsen-css-components.min.css" rel="stylesheet" />
    <link href="css/theme.css" rel="stylesheet" />



    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <script src="angularjs/angular.min.js"></script>
    <script src="scripts/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
    <script src="scripts/index.js"></script>

    <link href="css/all.css" rel="stylesheet" />
    <link href="css/all.min.css" rel="stylesheet" />
    <script src="scripts/all.js"></script>
    <script src="scripts/all.min.js"></script>

</head>
<body ng-app="Dot2DotTrainingApp" ng-controller="Assignment">

    <div data-role="page" id="index" class="page__background page--material__background">
        <ons-page>
            <ons-toolbar style="position: fixed; top:44px; background-color:#F04729; color:white;font-size:16px;height:50px">                
                <label style="margin-top:20px;margin-left:5px;font-weight:bold;font-size:16px;"><i class="fas fa-list"></i>&nbsp;&nbsp;&nbsp;Assignment List</label>
            </ons-toolbar>
            <ons-toolbar>
                <div class="toolbar__center">
                    <img src="images/d2d logo.png" style="padding-top:10px;" />
                </div>
                <div class="right">
                    <ons-toolbar-button onclick="fn.toggleMenu()">
                        <ons-icon icon="ion-home" ng-click="ShowMainHomePage()" style="color:black"></ons-icon>
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>
            <!--<ons-list-header style="background-color:#F04729; color:white;font-size:16px">Assignment List</ons-list-header>-->
            <div class="card card--material" ng-repeat="e in AssignmentDetails" style="margin-top:11%;">

            <div ng-click="ShowSynopsis(e.assignmentId)">
                <div class="title card__title"><i class="fa fa-edit"></i>{{e.assignmentName}}</div> <div class="content card__content">Assignment Description</div>
            </div>
        </div>
            <div class="card card--material" ng-show="AssignmentDetails.length==0" style="margin-top:43px;">
                <div>
                    <div class="title card__title"></div> <div class="content card__content">No Assignment Pendings</div>
                </div>
            </div>

            <!--<div style="text-align: center; margin-top: 110px;">
        <div >

            <ons-button id="buttonnext" style="background-color:#11113c; border-radius: 12px;" ng-click="ShowSynopsis(e.assignmentId)">{{e.assignmentName}}</ons-button>

        </div>




    </div>-->


        </ons-page>
    </div>

   
    <script type="text/javascript">
        var app = angular.module("Dot2DotTrainingApp", []);
        app.controller("Assignment", function ($scope, $http) {
            var AssignmentDetails = JSON.parse(window.localStorage.getItem("StudentAssignmentDetails"));
            var CompletedAssignmentId = window.localStorage.getItem("CompletedAssignmentId");
            $scope.AssignmentDetails = [];
            $scope.AssignmentList = [];
            var PendingAssignmentList = [];           
            $scope.AssignmentList = AssignmentDetails.studentAssignmentDetailsList;

            var CompletedAssignmentsArray = CompletedAssignmentId.split(',');

            for (var i = 0; i < $scope.AssignmentList.length; i++) {
                var flag = true;
                for (var j = 0; j < CompletedAssignmentsArray.length; j++) {
                    if (CompletedAssignmentsArray[j] != "")
                    {
                        if (parseInt(CompletedAssignmentsArray[j]) == parseInt($scope.AssignmentList[i]["assignmentId"]))
                        {
                            flag = false;
                            break;
                        }
                    }
                }

                if (flag == true)
                {
                    PendingAssignmentList.push($scope.AssignmentList[i]);
                }
            }

            $scope.AssignmentDetails = angular.copy(PendingAssignmentList);
                       
            ////$scope.AssignmentDetails = AssignmentDetails.studentAssignmentDetailsList;
          
            $scope.ShowSynopsis = function (assignmentId) {
                var StudentId = parseInt(window.localStorage.getItem("StudentId"));

                $http({
                    url: "http://appsdev.in/Dot2DotTraining/api/GetStudentAssignmentQuestions",
                    method: 'POST',
                    data: "{'StudentId':'" + StudentId + "','AssignmentId':'" + assignmentId + "'}",
                    headers: { 'content-type': 'application/json' },
                }).then(function (d) {
                    window.localStorage.setItem("QuestionList", JSON.stringify(d.data.questionList));
                    window.localStorage.setItem("SelectedAssignmentId", assignmentId);

                    for (var i = 0; i < AssignmentDetails.studentAssignmentDetailsList.length; i++) {
                        if ((AssignmentDetails.studentAssignmentDetailsList[i]["assignmentId"]) == parseInt(assignmentId)) {
                            window.localStorage.setItem("mapOfEvents", JSON.stringify(AssignmentDetails.studentAssignmentDetailsList[i]["eventList"]));
                            window.localStorage.setItem("instructions", JSON.stringify(AssignmentDetails.studentAssignmentDetailsList[i]["instructionList"]));

                        }
                    }



                    window.location.href = 'MapOfEvents.html';
                });


            };

            $scope.ShowMainHomePage = function () {
                window.location.href = 'MainHome.html';
            };


        });

    </script>

</body>
</html>
